header{
  background-color: black;
  color: white;
  text-align: center;




}

body{
  font: Helvetica;
  
}



.coatesville{
  background-image: url("https://i0.wp.com/attempttocode.files.wordpress.com/2017/09/coatesvillepd.png?ssl=1&w=450");
}
